.container{
    display: grid;
    grid-template-columns: 1fr 5fr;
}
body{
    margin: 0;
    font-family:sans-serif;
}
.left-container{
    background-color: #ffffff;
    height: 100vh;
    position: sticky;
    top:0;
 
}
.logo-container{
    margin-left: 10px;
    margin-top: 10px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 9px;
}
.logo-container img{
    height:45px
}

.links{
    margin-top: 25px;
    margin-left: 15px;
    display: flex;
    flex-flow: column wrap;
    height: 400px;
    width: 200px;
    
    
}
.links a{
    text-decoration: none;
    display: flex;
  
    margin: 0;
    height: 48px;
    flex-wrap: row wrap;
    align-items: center;
    gap:6px;
    color: #9DA6BA;
}
.span1{
    margin-left: 18px;
}
.links a:hover{
   
    background-color:#5B68FF;
    border-radius: 5px;
    width: 221px;
    height: 48px;
    color: white;

}


.right-container{
    background-color:#f4f4f4;
    overflow-y: scroll;
}

.head{
   
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 25px;
    align-items: center ;
   
    
    
}

.head-left{
    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-left: 10px;
}
.head-right{
    padding: 10px;
   
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.search{
    display: flex;
    flex-flow: row wrap;
    align-items: center;  
}
.search input{
    width: 238px;
    height: 42px;
    border-radius: 20px;
    border: none;
    padding: 15px;
    
}
.search input:focus{
    outline: none;
    
}
.search span{
    color: white;
}
.search-icon{
    
    position: absolute;
    border: 1px solid #5B68FF;
    background-color: #5B68FF;
    border-radius: 20px;
    height: 40px;
    width:40px;
    right:0;
   
}
.search-icon span{
    margin-top: 8px;
    margin-left: 8px;
}

.profile{
  
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 7px;
}


.search,.search-icon{
    margin-right: 70px;
}

.head-right span{
    color: #6F767E;
    margin-left: 3px;
    margin-top: 1px;
}

.notifications{
    background-color: #CDD3FF;
    border-radius: 20px;
    width: 30px;
    height: 30px; 
}

.bt{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 30px 30px 20px 30px;
    align-items: center;
}


.bt-right span{
     color:#9DA6BA;
     margin-left: 3px;
     margin-top: 2px;
}


.bt-right{
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
}
.bt-right select{
    width:200px;
    border-radius: 5px;
}

.bt-right .a1{
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 5px;
}

.bt-left{
    display: flex;
    flex-flow: row wrap;
}
.bt-left .a1 span{
    margin-top: 2px;
    margin-left: 2px;
    
}

.bt-left .a1{
    padding: 2px;
    background-color: white;
    height: 31px;
    width: 30px;
    border-top-left-radius: 6px;
    border-bottom-left-radius:6px ;
    
}
.bt-left .a2{
    padding: 2px;
    background-color: #4DC591;
    height: 31px;
    width: 30px;
    border-top-right-radius: 6px;
    border-bottom-right-radius:6px ;
    
}
.bt-left .a2 span{
    margin-top: 2px;
    margin-left: 2px;
    color: white;
}



.card-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap:20px;
    padding: 5px 20px 20px 20px;
    
    
}
.card-container a{
    text-decoration: none;
}
.card-container p{
    font-size: 10px;
    color: #9DA6BA;

}

.logo img{
    width:60px;
    height:60px;
}

.card{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
}
.card-container span{
    font-size: 14px;
}

.card h4{
    color:black;
}


.lesson{
    display: flex;
    flex-flow: row wrap;
    gap:7px;
    align-items: center;
}
.time{
    display: flex;
    flex-flow: row wrap;
    gap:7px;
    align-items: center;
}
.lesson-time{
    display: flex;
    flex-flow: row wrap;
    gap:7px;
    align-items: center;
}

.photo{
    display: flex;
    flex-flow: row wrap;
    gap:7px;
    align-items: center;
    
}
.progress{
    display: flex;
    flex-flow: row wrap;
    gap:7px;
    align-items: center;
}
 .card{
    width: 267px;
    height: 250px;
    background-color: white;
    padding: 10px;
    border-radius: 15px;
 }

 .logo1{
    display: flex;
    flex-flow:row wrap;
    justify-content: space-between;
    align-items: center;
    
 }
 .logo1 span{
    margin-right: 10px;
    font-size: 25px;
 }


@media (orientation:portrait) {
    
    .container{
        display: grid;
        grid-template-columns: 1fr;
    } 

     .left-container{
        height:auto;
        position: sticky;
        top:0;
        z-index: 1;
        border-bottom: 1px solid rgb(210, 208, 208);
    }

    .logo-container{
        justify-content: center;
    }

    
    .links{
        margin-top: 10px;
        flex-flow: row wrap;
        width: auto;
        height: auto;
        gap: 5px;
        justify-content: space-around;
        margin: 15px;
        align-items: center;
    }


    .links a{
        font-size: 14px;
        flex-wrap: row wrap;
        width: 100px;
        height: auto;
        margin-top:10px;
        gap:0;
        align-items: center;
        
    }  

    .head{
        grid-template-columns: auto;
        padding: 15px;
        gap: 6px;
    }
    

    .head-left{
        flex-flow:column wrap;
        justify-content: space-evenly;
        align-content: center;
        gap: 10px;
    }

    .head .head-left{
        justify-self: center;
    }

    .search{
        justify-content: center;
    }
    .search input{
        display: static;
        margin: 0;
    }

    

    .search,.search-icon{
        margin-right: 0;
    }
    

    .search-icon{
        position: absolute;
        border: 1px solid #5B68FF;
        background-color: #5B68FF;
        border-radius: 20px;
        height: 40px;
        width:40px;
        right:0;
      
       
    }

    .s1 input{
        position: static;
       
    }

    .bt{
        padding: 10px;
        margin: 10px;
    }

    .bt-right select{
        width:100px;
    }

    .links a span{
        margin-left: 5px;
        margin-right: 2px;

    }

    .card-container{
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }

    @media (orientation:portrait) {
        .links a:hover{
       
            background-color:#5B68FF;
            border-radius: 5px;
            width: auto;
            height: 25px;
            color: white;
            
        }
        
    }


}